aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
alembic
annotated-types
anyio
attrs
Authlib
bandit
bcrypt
beautifulsoup4
cachetools
certifi
cffi
chardet
charset-normalizer
click
cryptography
dataclasses-json
deep-translator
discord.py
distro
dnspython
dparse
ecdsa
email_validator
et_xmlfile
faiss-cpu
fastapi
fastapi-limiter
filelock
frozenlist
git-filter-repo
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
greenlet
h11
h2
hpack
hstspreload
httpcore
httplib2
httptools
httpx
httpx-sse
hyperframe
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langdetect
langsmith
Mako
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy_extensions
nltk
numpy
oauthlib
openai
openpyxl
orjson
packaging
pandas
passlib
pbr
propcache
proto-plus
protobuf
psutil
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pyparsing
pypdf
python-dateutil
python-dotenv
python-http-client
python-multipart
pytz
PyYAML
redis
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rich
rsa
ruamel.yaml
ruamel.yaml.clib
safety
safety-schemas
sendgrid
setuptools
shellingham
six
slack_bolt
slack_sdk
sniffio
soupsieve
SQLAlchemy
starlette
stevedore
tenacity
tiktoken
tomlkit
tqdm
twilio
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
uvloop
watchfiles
websockets
Werkzeug
wheel
yarl
zstandard
supabase